footer {
    background-color: rgba(0, 0, 0, 0.904);
    margin-bottom: 0;
    height: 40vh;
}

#carousel img{
    height: calc(90vh);
}

#wedding-plus{
    border-radius: 20px;
    background-image: url(icons/watermark.svg);
}